In [1]:
#Code09-04

coffee=0

def coffee_machine(butten):

    print()
    print('1단계')
    print('2단계')

    if butten == 1:
        print('3단계 A커피')
    elif butten ==2:
        print('3단계 B커피')
    elif butten==3:
        print('3단계 C커피')

    print('4단계')
    print('5단계')
    print()

coffee=int(input('무슨 커피? 1:A 2:B 3:C'))
coffee_machine(coffee)
print('가 손님')

coffee=int(input('무슨 커피? 1:A 2:B 3:C'))
coffee_machine(coffee)
print('나 손님')

coffee=int(input('무슨 커피? 1:A 2:B 3:C'))
coffee_machine(coffee)
print('다 손님')

무슨 커피? 1:A 2:B 3:C 1

1단계
2단계
3단계 A커피
4단계
5단계

가 손님

무슨 커피? 1:A 2:B 3:C 2

1단계
2단계
3단계 B커피
4단계
5단계

나 손님

무슨 커피? 1:A 2:B 3:C 3

1단계
2단계
3단계 C커피
4단계
5단계

다 손님

In [3]:
def hap(a,b):
    print(a+b)

hap(100,-10)
hap(10,5)

90
15

In [4]:
def change_name(name):
    return(name+'님')

change_name('지희')

'지희님'

In [5]:
def change_name(name):
    print(name+'님')

change_name('지희')

지희님

In [6]:
def change_name(name):
    return(name+'님')

a=change_name('지희')
print(a+' 안녕하세요')

지희님 안녕하세요

In [7]:
#함수 안에서 활용한 것을 변수값으로써 활용하려면 return사용
def change_name(name):
    print(name+'님')

a=change_name('지희')
print(a+' 안녕하세요')

지희님

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
def plus(v1,v2):
    result=0
    result= v1+v2
    return result

hap=0

hap=plus(100,200)
print(f'100과 200의 plus()함수 값은 {hap}이다.')

100과 200의 plus()함수 값은 300이다.

In [22]:
def plus(v1,v2):
    result=v1+v2
    print(f'100과 200의 plus()함수 {result}값은 이다.')

plus(100,200)

100과 200의 plus()함수 300값은 이다.

In [11]:
#실습1

def happyBirthday(name):
    print('생일을 축하합니다!')
    print(f'사랑하는 {name}님의 생일을 축하합니다!')

happyBirthday('매내')
happyBirthday('뽀로로')
happyBirthday('지모')

생일을 축하합니다!
사랑하는 매내님의 생일을 축하합니다!
생일을 축하합니다!
사랑하는 뽀로로님의 생일을 축하합니다!
생일을 축하합니다!
사랑하는 지모님의 생일을 축하합니다!

In [23]:
def multiply(count):
    for i in range(1,10):
        print(f'{count} * {i} = {count*i}')

num =  int(input('단을 입력하세요: '))
multiply(num)

단을 입력하세요:  3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [32]:
def calc(a1,op,a2):
    result=0
    a=0
    if op=='+':
        result=a1+a2
    elif op=='-':
        result=a1-a2
    elif op=='*':
        result=a1*a2
    elif op=='/':
        if a2==0:
            a=1
            return a
        else:
            result=a1/a2
    elif op=='**':
        result=a1**a2
    return result

a1_def = int(input('첫번 째 수를 입력하세요: '))
op_def = input('연산자를 입력하세요(+,-,*,/,**): ')
a2_def = int(input('두번 째 수를 입력하세요: '))

result_def=calc(a1_def,op_def,a2_def)

if a==0:
    print(f'{a1} {op} {a2} = {result_def}')
elif a==1:
    print('0으로 나눌 수 없습니다.')

첫번 째 수를 입력하세요:  10
연산자를 입력하세요(+,-,*,/,**):  /
두번 째 수를 입력하세요:  0

In [6]:
#10장_36p(그 사이에 있는 파트는 영상으로 복습 [24~35p])
def para2_func(v1,v2):
    result = 0
    result = v1 + v2
    return result
    
def para3_func(v1,v2,v3=0):
    result = 0
    result = v1 + v2 + v3
    return result


hap = 0
hap = para2_func(10,20)
print('매개변수 2개인 함수를 호출한 결과 ==> %d' %hap)
hap = para3_func(10,20,30)
print('매개변수 3개인 함수를 호출한 결과 ==> %d' %hap)

매개변수 2개인 함수를 호출한 결과 ==> 30
매개변수 3개인 함수를 호출한 결과 ==> 60

In [2]:
def para_func(v1,v2,v3=0):
    result = 0
    result = v1 + v2 + v3
    return result

hap = 0
hap = para_func(10,20)
print('매개변수 2개인 함수를 호출한 결과 ==> %d' %hap)
hap = para_func(10,20,30)
print('매개변수 3개인 함수를 호출한 결과 ==> %d' %hap)

매개변수 2개인 함수를 호출한 결과 ==> 30
매개변수 3개인 함수를 호출한 결과 ==> 60

In [21]:
def print_student_info(name,birth,major='History',country='Korean'):
    print(f'이름:{name}, 생년월일:{birth}, 전공:{major}, 국적:{country}')

print_student_info('이현진','030725')

이름:이현진, 생년월일:030725, 전공:History, 국적:Korean

In [1]:
def print_languages(*para):
    for i in para:
        print(i)

def print_languages_tuple(laguages_tuple):
    for k in laguages_tuple:
        print(k)

print_languages(10,20,30)
print_languages_tuple((10,20,30))

10
20
30
10
20
30

In [32]:
def outFunc(v1,v2):
    def inFunc(a,b):
        return a+b
    return inFunc(v1,v2)

print(outFunc(10,20))

30

In [33]:
def count(num):
    if num>=1:
        count(num-1)
        print(num, end=' ')

    else:
        return

count(10)

1 2 3 4 5 6 7 8 9 10

In [39]:
def count(num):
    if num>=1:
        print(num, end=' ')
        count(num-1)
    
    else:
        return

count(10)

10 9 8 7 6 5 4 3 2 1

In [55]:
#lambda함수 활용
(lambda num1, num2 : num1**num2)(10,2)

100

In [41]:
hap1 = lambda num3=10, num4=20 : num3+num4
print(hap1())

print(hap1(100,200))

30
300

In [56]:
#더 단순화 시키고 싶음 --> lambda와 map 사용
myList = [10,20,30,40,50]

def add_ten(num):
    return num+10

for i in range(len(myList)):
    myList[i] = add_ten(myList[i])

myList

[20, 30, 40, 50, 60]

In [57]:
#map함수 활용
map_list = [10,20,30,40,50]
map_list = list(map(add_ten, map_list))     #위에 add_ten함수 활용: map(함수, 데이터값들)
map_list

[20, 30, 40, 50, 60]

In [1]:
#코드 단순화
lam_map = [10,20,30,40,50]
lam_map = list(map(lambda Num : Num+10, lam_map))
lam_map

[20, 30, 40, 50, 60]

In [9]:
#실습 6 =================================================================================================================
def factorial(num):
    if num>=1:
        return num*factorial(num-1)
    else:
        return 1

num=int(input('정수를 하나 입력하세요'))
print(factorial(num))

정수를 하나 입력하세요 10

3628800