In [3]:
a = 10
a += 5; print(a)
a -= 5; print(a)
a *= 5; print(a)
a /= 5; print(a)
a //= 5; print(a)
a %= 5; print(a)
a **= 5; print(a)

15
10
50
10.0
2.0
2.0
32.0

In [10]:
money = int(input("교환할 금액을 입력하세요: "))
print("500원 짜리 %d개" %(money//500))
money %= 500
print("100원 짜리 %d개" %(money//100))
money %= 100
print("50원 짜리 %d개" %(money//50))
money %= 50
print("10원 짜리 %d개" %(money//10))
money %= 10
print("나머지",money,"원")

교환할 금액을 입력하세요:  7777

500원 짜리 15개
100원 짜리 2개
50원 짜리 1개
10원 짜리 2개
나머지 7 원

In [11]:
a, b=100, 200
print(a==b, a!=b, a > b, a < b, a >= b, a <= b)

False True False True False True

In [15]:
a=99
print((a>100) and (a<200), (a>100) or (a<200), not(a==100))

False True True

In [16]:
if(0) :
    print("참이면 보여요")

In [17]:
if(1) :
    print("참이면 보여요")

참이면 보여요

In [19]:
x = -1
y = 3
print((-y)**3+2*x**2*y)

-21

In [25]:
print('"\\n" is a newline character')
print(r'"\n" is a newline character') # 이건 알아두자 몰랐던거

"\n" is a newline character
"\n" is a newline character

In [26]:
first = int(input("첫 번째 수를 입력하시오."))
second = int(input("두 번째 수를 입력하시오."))
third = int(input("세 번째 수를 입력하시오."))
mean = (first+second+third)/3
print("\n평균 = %.1f" %mean)

첫 번째 수를 입력하시오. 10
두 번째 수를 입력하시오. 20
세 번째 수를 입력하시오. 30

평균 = 20.0

In [24]:
haha = int(input("세 자리 정수를 입력하시오."))
print("백의 자리 :",haha//100)
haha %= 100
print("십의 자리 :",haha//10)
haha %= 10
print("일의 자리 :",haha)

세 자리 정수를 입력하시오. 349

백의 자리 : 3
십의 자리 : 4
일의 자리 : 9